@import 'variables.scss';

.projects {
	.highlight {
		text-transform: uppercase;

		button.update {
			background-color: $warning-color;
			color: $white;
		}

		button.delete {
			background-color: $error-color;
			color: $white;
		}
	}
}
