@import 'variables.scss';

.project {
	> .row {
		margin-bottom: 0;
	}

	button.update {
		background-color: $warning-color;
		color: $white;
	}

	button.delete {
		background-color: $error-color;
		color: $white;
	}

	.rendered-html {
		border-bottom: 1px solid #bcbcbc;

		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			margin-top: 0;
		}
	}

	#markdown,
	#htmlView {
		min-height: 300px;
		overflow: scroll;
	}
}
