// Color swatch
$background-color: #36649e;
$primary-color: #334b48;
$secondary-color: #6f96d4;
$accent-color: #96b1ac;
$text-color: #132e35;
$white: #fff;
$light-gray: #e2e4e6;
$error-color: #c66a62;
$warning-color: #cf843c;
$success-color: #26a69a;
